! ─┐ ┬┌─┐┌┐┌┌─┐┌┐ ┬ ┬┌┬┐┌─┐ ─┐ ┬┬ ┬┌─┐
! ┌┴┬┘├┤ ││││ │├┴┐└┬┘ │ ├┤  ┌┴┬┘└┬┘┌─┘
! ┴ └─└─┘┘└┘└─┘└─┘ ┴  ┴ └─┘o┴ └─ ┴ └─┘
! Author:  SENEX @ XENOBYTE.XYZ
! License: MIT License
! Website: https://xenobyte.xyz/projects/?nav=dotfiles

Xcursor.size               : 16    
xft.dpi                    : 96
Xft.antialias              : true
Xft.rgba                   : rgb
Xft.hinting                : true
Xft.autohint               : true
Xft.hintstyle              : hintfull
!------------------------------------------------

! TEWI FONT
! urxvt.font                 : xft:tewi:regular:size=9
! urxvt.boldFont             : xft:tewi:regular:size=9
! rofi.font                  : tewi regular 9
! Ac437 ATI 8x8
! urxvt.font                 : xft:Ac437 ATI 8x8:regular:size=6
! urxvt.boldFont             : xft:Ac437 ATI 8x8:regular:size=6
! rofi.font                  : Ac437 ATI 8x8 regular 6


! OHSNAP FONT BOLD
! urxvt.font                 : xft:misc ohsnapu:bold:size=9
! urxvt.boldFont             : xft:misc ohsnapu:bold:size=9
! rofi.font                  : misc ohsnapu bold 9
! OHSNAP FONT REGULAR
urxvt.font                 : xft:misc ohsnapu:regular:size=9
urxvt.boldFont             : xft:misc ohsnapu:regular:size=9
rofi.font                  : misc ohsnapu regular 9


! urxvt*letterSpace        : 0
urxvt.allow_bold           : true
urxvt.transparent          : false
urxvt.shading              : 15

!------------------------------------------------              
urxvt.perl-lib             : ~/.urxvt/ext/
urxvt.perl-ext-common      : default,matcher,vtwheel,clipboard,keyboard-select,url-select

!tabbed
urxvt.matcher.button       : 1
urxvt.perl-ext             : default,url-select
urxvt.keysym.M-u           : perl:url-select:select_next
urxvt.url-select.launcher  : /usr/bin/firefox
urxvt.url-select.underline : true

!disable the fucking bell
urxvt.insecure             : false

! Clipboard
urxvt.clipboard.copycmd    : xsel -ib
urxvt.clipboard.pastecmd   : xsel -ob
! do not scroll with output
urxvt.scrollTtyOutput      : false
! scroll in relation to buffer (with mouse scroll or Shift+Page Up)
urxvt.scrollWithBuffer     : true
! scroll back to the bottom on keypress
urxvt.scrollTtyKeypress    : true
urxvt.saveLines            : 300000
urxvt.scrollBar            : false
urxvt.scrollstyle          : plain
urxvt.cursorBlink          : 1
urxvt.cursorUnderline      : 0


urxvt.metaSendsEscape: true 





! HOTKEYS
urxvt.keysym.M-Escape      : perl:keyboard-select:activate
urxvt.keysym.M-c           : perl:clipboard:copy
urxvt.keysym.C-v           : perl:clipboard:paste
urxvt.keysym.M-C-v         : perl:clipboard:paste_escaped
urxvt.keysym.F11           : perl:fullscreen:switch

! DARK THEME

! ! COLORS
urxvt*foreground:   #b9b9b9
urxvt*background:   #181818
urxvt*cursorColor:  #e66b2b

! black
urxvt*color0:       #181818
urxvt*color8:       #151515

! red
urxvt*color1:       #fc4769
urxvt*color9:       #fd886b

! green
urxvt*color2:       #7cc844
urxvt*color10:      #568c3b

! yellow
urxvt*color3:       #fecb6e
urxvt*color11:      #b15f4a

! blue
urxvt*color4:       #32ccdc
urxvt*color12:      #acddfd

! magenta
urxvt*color5:       #ba8cfc
urxvt*color13:      #955ae7

! cyanx
urxvt*color6:       #20bcfc
urxvt*color14:      #257fad

! white
urxvt*color7:       #efecf4
urxvt*color15:      #c2c2b0


! LIGHT THEME

! ! COLORS
urxvt*foreground:   #b9b9b9
urxvt*background:   #181818
urxvt*cursorColor:  #e66b2b

! black
urxvt*color0:       #181818
urxvt*color8:       #151515

! red
urxvt*color1:       #fc4769
urxvt*color9:       #fd886b

! green
urxvt*color2:       #7cc844
urxvt*color10:      #568c3b

! yellow
urxvt*color3:       #fecb6e
urxvt*color11:      #b15f4a

! blue
urxvt*color4:       #32ccdc
urxvt*color12:      #acddfd

! magenta
urxvt*color5:       #ba8cfc
urxvt*color13:      #955ae7

! cyanx
urxvt*color6:       #20bcfc
urxvt*color14:      #257fad

! white
urxvt*color7:       #efecf4
urxvt*color15:      #c2c2b0
